@font-face {
    font-family: "tangerine";
    src: url(Tangerine-Regular.ttf);
}

body {
    background-color: #2e3742;
    color: whitesmoke;
    font-family: "tangerine", "Bitstream Vera Serif", serif;
    font-size: 0.7cm;
}

h1 {
    position: -webkit-sticky;
    position: sticky;
    top: 10px;
    border: 2px white;
    border-style: solid;
    background-color: black;
    width: 30%;
}

.block,
li {
    border: 0.1cm white;
    border-style: dashed;
    background-color: palevioletred;
    color: black;
    width: 10%;
}

button:hover{
    color: red;
}
